Batrium.json
[{"id":"5ee9552c56d6e50d","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"6290555329704b98","type":"group","z":"5ee9552c56d6e50d","name":"Battery status","style":{"stroke":"#92d04f","label":true,"label-position":"s","color":"#92d04f"},"nodes":["f6a4112db32f6179","ba64084be7eb1317","ddda1fee96e1b97c","e59c1c6c3669384d","7d76c9ab40a451b4","6d65487c2f9f6153","b83bdd39a70efffd","ac28babe03d3f879","ab432e93e973796c","34e0def2b0c8e1a3","c3106b2695783a37","abeea0d1b7894c2f","34262d97a5eb3866","1c9ac322d9df2c98","2a343da4a5c400f4"],"x":1144,"y":339,"w":442,"h":390},{"id":"c632025d5862d6f7","type":"group","z":"5ee9552c56d6e50d","name":"6kWh","style":{"label":true,"stroke":"#ff0000","label-position":"s","color":"#ff0000"},"nodes":["e4d4a69faac4aa90","27e970304a168007","a21cd736bb8fe7cd","d7069db13033f377","c8b7767c65e64367","4a5bda65d8c22c1b","3772537b8a864f97","7219586de8c4e740","a00c8cc18173823f","5b59e6140bab2e46","d406e78d4ef5a2f4","4e0af06cb1103721","c92f23619d343ef1","94ae8d8c53e7c6a8","0822e0bb64d5a4c3","e6345461cad52c73","7b25ce4744e4b47d","1ea819cbbab3538b","56328ee29ae51ba3","dd530625204853d9","58159fe7ab15e3f7","7540e477053ab0f3","3a9055fcadde7234","fb96aff68bee2f6f","2fdd2836c3766a42","0d8ceee7e407eb97","db6ef2f10eb9b48c","b11b81d6efa7130a"],"x":584,"y":339,"w":542,"h":450},{"id":"ef991e1f83058aec","type":"group","z":"5ee9552c56d6e50d","name":"14kWh","style":{"label":true,"label-position":"s","color":"#ff0000","stroke":"#ff0000"},"nodes":["6603d5603393db5a","5f49a9a50fb4b63e","4b50b4605515eaa1","df805c37db17b99a","f656aa0dd0cb445a","9e989fd659404a2f","4e14b0e5e4290534","a05bae8449910641","7b4d844eb253f492","c593c7248491d482","565ab93cf4736e00","e8fde2c8a8eab75f","3310e5d1e604cebf","b1c93f6801f104e1","28391f176a0dbf39","d37457cdbf81907c","3db2cbce94691068","b0da56739cfaaffd","4a0aab7e01473573","2e5f0642981114b2","6490e612977dec46","e05f57f2a691032b","62d1756d08d2b186","41326a5592972b78","a49eb53813242aa0","69c158817f9fbba4","438334e4c48c9e03","a7e3fe535bd2642f"],"x":14,"y":339,"w":542,"h":450},{"id":"1e34219f.a153fe","type":"function","z":"5ee9552c56d6e50d","name":"All Message Type numbers to Topic","func":"msg.Topic = (msg.payload[2].toString(16).toUpperCase() + msg.payload[1].toString(16).toUpperCase())\nreturn\tmsg;\t\t\n\t\t\t\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":100,"wires":[["5a934f7b.0e717","196fac0dd56538cf"]]},{"id":"5a934f7b.0e717","type":"switch","z":"5ee9552c56d6e50d","name":"","property":"Topic","propertyType":"msg","rules":[{"t":"eq","v":"5732","vt":"str"},{"t":"eq","v":"4232","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":100,"wires":[["de41e512ec507808","b645e7e6fce77d6d"],["39bd355b.b7146a"]]},{"id":"638a2f68.47ced","type":"debug","z":"5ee9552c56d6e50d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":260,"wires":[]},{"id":"9c045563.8d5428","type":"function","z":"5ee9552c56d6e50d","name":"Get the set of saved global variables","func":"\nvar ONE = global.get('ONE') || 0;\nvar TWO = global.get('TWO') || 0;\nvar THREE = global.get('THREE') || 0;\nvar FOUR = global.get('FOUR') || 0;\nvar FIVE = global.get('FIVE') || 0;\nvar SIX = global.get('SIX') || 0;\nvar SEVEN = global.get('SEVEN') || 0;\nvar EIGHT = global.get('EIGHT') || 0;\nvar NINE = global.get('NINE') || 0;\nvar TEN = global.get('TEN') || 0;\nvar ELEVEN = global.get('ELEVEN') || 0;\nvar TWELVE = global.get('TWELVE') || 0;\nvar THIRTEEN = global.get('THIRTEEN') || 0;\nvar FOURTEEN = global.get('FOURTEEN') || 0;\nvar FIFTEEN = global.get('FIFTEEN') || 0;\nvar SIXTEEN = global.get('SIXTEEN') || 0;\nvar SEVENTEEN = global.get('SEVENTEEN') || 0;\nvar EIGHTEEN = global.get('EIGHTEEN') || 0;\nvar NINETEEN = global.get('NINETEEN') || 0;\nvar TWENTY = global.get('TWENTY') || 0;\nvar TWENTYONE = global.get('TWENTYONE') || 0;\nvar TWENTYTWO = global.get('TWENTYTWO') || 0;\nvar TWENTYTHREE = global.get('TWENTYTHREE') || 0;\nvar TWENTYFOUR = global.get('TWENTYFOUR') || 0;\nvar TWENTYFIVE = global.get('TWENTYFIVE') || 0;\nvar TWENTYSIX = global.get('TWENTYSIX') || 0;\nvar TWENTYSEVEN = global.get('TWENTYSEVEN') || 0;\nvar TWENTYEIGHT = global.get('TWENTYEIGHT') || 0;\n\n\nvar m = {};\nm.data = [[ONE, TWO, THREE, FOUR, FIVE, SIX, SEVEN, EIGHT, NINE, TEN, ELEVEN, TWELVE, THIRTEEN, FOURTEEN, FIFTEEN, SIXTEEN, SEVENTEEN, EIGHTEEN, NINETEEN, TWENTY, TWENTYONE, TWENTYTWO, TWENTYTHREE, TWENTYFOUR, TWENTYFIVE, TWENTYSIX, TWENTYSEVEN, TWENTYEIGHT]];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":260,"wires":[["7cc3680.86af998"]]},{"id":"7795faf2.155654","type":"inject","z":"5ee9552c56d6e50d","name":"Update the chart every 15 second","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":260,"wires":[["9c045563.8d5428"]]},{"id":"39bd355b.b7146a","type":"function","z":"5ee9552c56d6e50d","name":"Msg_4232_CellNodeFull","func":"var Packet = global.get('binary_parser');\nvar buf = msg.payload;\n\nvar typea = new Packet()\n\t\t.skip(8)\n\t\t.uint8('ID')\n\t\t.uint8('USN')\n\t\t.int16le('MinCellVolt',\t\t\t{ formatter: (x) => {return x/1000;}})\n\t\t.int16le('MaxCellVolt',\t\t\t{ formatter: (x) => {return x/1000;}})\n\t\t.uint8('MinCellTemp',\t\t\t{ formatter: (x) => {return x-40;}}) // temperature ºC\n\t\t.uint8('BypassTemp',\t\t\t{ formatter: (x) => {return x-40;}}) // temperature ºC\n\t\t.int16le('BypassAmp', \t\t\t{ formatter: (x) => {return x/1000;}})\n\t\t.uint8('DataErrorCounter')\n\t\t.uint8('ResetCounter')\n\t\t.uint8('Status') /* Choices NodeStatuses\n\t\t\t\tNone = 0,\n\t\t\t\tHighVolt = 1,\n\t\t\t\tHighTemp = 2,\n\t\t\t\tOk = 3,\n\t\t\t\tTimeout = 4,\n\t\t\t\tLowVolt = 5,\n\t\t\t\tDisabled = 6,\n\t\t\t\tInBypass = 7,\n\t\t\t\tInitialBypass = 8,\n\t\t\t\tFinalBypass = 9,\n\t\t\t\tMissingSetup = 10,\n\t\t\t\tNoConfig = 11,\n\t\t\t\tCellOutLimits = 12, */\t\n\t\t.uint8('IsOverdue')\t\t\t\t// boolean 0 = Off , 1 = On\n\n\t\t.int16le('LoCellVoltAlert',\t\t{ formatter: (x) => {return x/1000;}})\n\t\t.int16le('HiCellVoltAlert',\t\t{ formatter: (x) => {return x/1000;}})\n\t\t.int16le('BypassVoltLevel',\t\t{ formatter: (x) => {return x/1000;}})\n\t\t.int16le('BypassAmpLimit',\t\t{ formatter: (x) => {return x/1000;}})\n\t\t.uint8('BypassTempLimit',\t\t{ formatter: (x) => {return x-40;}}) // temperature ºC\n\t\t.uint8('HiCellTempAlert',\t\t{ formatter: (x) => {return x-40;}}) // temperature ºC\n\t\t.uint8('RawVoltCalOffset')\n\t\t.int16le('FwVers')\n\t\t.int16le('HwVers')\n\t\t.int16le('BootVers')\n\t\t.uint32le('SerialNo')\t\n\t\t.uint32le('BypassInitialDate') \t// Epoch\n\t\t.floatle('BypassSessionAh',\t\t{ formatter: (x) => {return x/1000;}}) // Ah\n\t\t.uint8('RepeatCellV')\n\n  \nmsg.payload = typea.parse(buf);\n\n// convert date(s)\nmsg.payload.BypassInitialDate = new Date(msg.payload.BypassInitialDate*1000);\n\n\nswitch(msg.payload.Status) {\n    case 0:\n        msg.payload.Status = \"None\";\n        break;\n    case 1:\n        msg.payload.Status = \"HighVolt\";\n        break;\n    case 2:\n        msg.payload.Status = \"HighTemp\";\n        break;\n    case 3:\n        msg.payload.Status = \"Ok\";\n        break;\n    case 4:\n        msg.payload.Status = \"Timeout\";\n        break;\n    case 5:\n        msg.payload.Status = \"LowVolt\";\n        break;\n    case 6:\n        msg.payload.Status = \"Disabled\";\n        break;\n    case 7:\n        msg.payload.Status = \"InBypass\";\n        break;\n    case 8:\n        msg.payload.Status = \"InitialBypass\";\n        break;\n    case 9:\n        msg.payload.Status = \"FinalBypass\";\n        break;\n    case 10:\n        msg.payload.Status = \"MissingSetup\";\n        break;\n    case 11:\n        msg.payload.Status = \"NoConfig\";\n        break;\n    case 12:\n        msg.payload.Status = \"CellOutLimits\";\n        break;\n    default:\n        msg.payload.Status = \"Buggered\";\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":140,"wires":[["eaabcb5565972b91","31741ffc.9e618"]]},{"id":"7cc3680.86af998","type":"rbe","z":"5ee9552c56d6e50d","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":770,"y":260,"wires":[["638a2f68.47ced","a91c56327d91dd6e"]]},{"id":"f11a39f8.cca5b8","type":"catch","z":"5ee9552c56d6e50d","name":"","scope":null,"uncaught":false,"x":300,"y":40,"wires":[[]]},{"id":"de41e512ec507808","type":"debug","z":"5ee9552c56d6e50d","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":60,"wires":[]},{"id":"eaabcb5565972b91","type":"debug","z":"5ee9552c56d6e50d","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":180,"wires":[]},{"id":"f6a4112db32f6179","type":"debug","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1480,"y":620,"wires":[]},{"id":"ba64084be7eb1317","type":"debug","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1480,"y":680,"wires":[]},{"id":"196fac0dd56538cf","type":"debug","z":"5ee9552c56d6e50d","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":140,"wires":[]},{"id":"c2d309a5c47623ce","type":"debug","z":"5ee9552c56d6e50d","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":60,"wires":[]},{"id":"b645e7e6fce77d6d","type":"function","z":"5ee9552c56d6e50d","name":"Msg_5732_SysInfoFull","func":"\nvar Packet = global.get('binary_parser');\nvar buf = msg.payload;\n\nvar typea = new Packet()\n    .skip(20)\n    .int32le('SystemTime') // Epoch\n    .uint8('SystemOpStatus') /* Choices\n\t\t\t\tSimulator = 0,   \t  // LED = rainbow pulse\n\t\t\t\tIdle = 1,        \t  // LED = green slow pulse\n\t\t\t\tDischarging = 2, \t  // LED = green solid \n\t\t\t\tSoC Empty = 3,   \t  // LED = green double blink\n\t\t\t\tCharging = 4,    \t  // LED = blue slow pulse\n\t\t\t\tFull = 5,        \t  // LED = blue double blink\n\t\t\t\tTimeout = 6,     \t  // LED = red solid\n\t\t\t\tCritical Pending = 7, // LED = red fast pulse\n\t\t\t\tCritical Offline = 8, // LED = red slow pulse\n\t\t\t\tMqtt Offline = 9,     // LED = white blink\n\t\t\t\tAuth Setup = 10,      // LED = white solid\n\t\t\t\tShunt Timeout = 11,   // LED = red solid  \t*/\n    .uint8('SystemAuthMode') /* Choices\n\t\t\t\tDefault \t= 0,\n\t\t\t\tTechnician \t= 1,\n\t\t\t\tFactory \t= 2, */\n    .uint8('CriticalBatOkState')    // 0 = Off , 1 = On\n    .uint8('ChargePowerRateState')  /* Choices\n\t\t\t\tOff \t\t\t= 0,\n\t\t\t\tLimited Power \t= 2,\n\t\t\t\tNormal Power  \t= 4, */\n    .uint8('DischargePowerRateState') /* Choices\n\t\t\t\tOff \t\t\t= 0,\n\t\t\t\tLimited Power \t= 2,\n\t\t\t\tNormal Power  \t= 4, */\n    .uint8('HeatOnState') \t\t\t// 0 = Off , 1 = On\n    .uint8('CoolOnState') \t\t\t// 0 = Off , 1 = On\n    .int16le('MinCellVolt', { formatter: (x) => { return x / 1000; } })\n    .int16le('MaxCellVolt', { formatter: (x) => { return x / 1000; } })\n    .int16le('AvgCellVolt', { formatter: (x) => { return x / 1000; } })\n    .uint8('MinCellTemp', { formatter: (x) => { return x - 40; } })     // temperature ºC\n    .uint8('NumOfCellsActive')\n    .uint8('CmuRxOpStatusUSN')\n    .uint8('CmuPollerMode')  /* Choices\n\t\t\t\tIdle = 0,\n\t\t\t\tNormal = 1,\n\t\t\t\tCollection Start = 2,\n\t\t\t\tCollection Running = 3,\n\t\t\t\tSync Start = 4,\n\t\t\t\tSync Running = 5,\n\t\t\t\tNetworkTest Start = 6,\n\t\t\t\tNetworkTest Running = 9,\n\t\t\t\tBypassTest Start = 7,\n\t\t\t\tBypassTest Running = 8,\n\t\t\t\tRebootAll Start = 10,\n\t\t\t\tRebooting AllDevices = 11,\n\t\t\t\tSimulator Start = 12,\n\t\t\t\tSimulator Running = 13, */\n    .uint8('ShuntSOC', { formatter: (x) => { return x / 2 - 5; } })    // percent\n    .int16le('ShuntVoltage', { formatter: (x) => { return x / 100; } })\n    .floatle('ShuntCurrent', { formatter: (x) => { return x / 1000; } })\n    .uint8('ShuntStatus') /* Choices\n\t\t\t\tTimeout = 0,\n\t\t\t\tDischarging = 1,\n\t\t\t\tIdle = 2,\n\t\t\t\tCharging = 4 */\n    .uint8('ShuntRxAmpTicks')\n\nmsg.payload = typea.parse(buf);\n\n// convert date(s)\nmsg.payload.SystemTime = new Date(msg.payload.SystemTime * 1000);\n\nswitch (msg.payload.SystemOpStatus) {\n    case 0:\n        msg.payload.SystemOpStatus = \"Timeout\";\n        break;\n    case 1:\n        msg.payload.SystemOpStatus = \"Idle\";\n        break;\n    case 2:\n        msg.payload.SystemOpStatus = \"Charging\";\n        break;\n    case 3:\n        msg.payload.SystemOpStatus = \"Discharging\";\n        break;\n    case 4:\n        msg.payload.SystemOpStatus = \"Full\";\n        break;\n    case 5:\n        msg.payload.SystemOpStatus = \"Empty\";\n        break;\n    case 6:\n        msg.payload.SystemOpStatus = \"Simulator\";\n        break;\n    case 7:\n        msg.payload.SystemOpStatus = \"CriticalPending\";\n        break;\n    case 8:\n        msg.payload.SystemOpStatus = \"CriticalOffline\";\n        break;\n    case 9:\n        msg.payload.SystemOpStatus = \"MqttOffline\";\n        break;\n    case 10:\n        msg.payload.SystemOpStatus = \"AuthSetup\";\n        break;\n    case 11:\n        msg.payload.SystemOpStatus = \"Shunt Timeout\";\n        break;\n    default:\n        msg.payload.SystemOpStatus = \"Buggered\";\n}\n\nswitch (msg.payload.SystemAuthMode) {\n    case 0:\n        msg.payload.SystemAuthMode = \"Default\";\n        break;\n    case 1:\n        msg.payload.SystemAuthMode = \"Technician\";\n        break;\n    case 2:\n        msg.payload.SystemAuthMode = \"Factory\";\n        break;\n    default:\n        msg.payload.SystemAuthMode = \"Buggered\";\n}\n\nswitch (msg.payload.ChargePowerRateState) {\n    case 0:\n        msg.payload.ChargePowerRateState = \"Off\";\n        break;\n    case 2:\n        msg.payload.ChargePowerRateState = \"Limited Power\";\n        break;\n    case 4:\n        msg.payload.ChargePowerRateState = \"Normal Power\";\n        break;\n    default:\n        msg.payload.ChargePowerRateState = \"Buggered\";\n}\n\nswitch (msg.payload.DischargePowerRateState) {\n    case 0:\n        msg.payload.DischargePowerRateState = \"Off\";\n        break;\n    case 2:\n        msg.payload.DischargePowerRateState = \"Limited Power\";\n        break;\n    case 4:\n        msg.payload.DischargePowerRateState = \"Normal Power\";\n        break;\n    default:\n        msg.payload.DischargePowerRateState = \"Buggered\";\n}\n\nswitch (msg.payload.CmuPollerMode) {\n    case 0:\n        msg.payload.CmuPollerMode = \"Idle\";\n        break;\n    case 1:\n        msg.payload.CmuPollerMode = \"Normal\";\n        break;\n    case 2:\n        msg.payload.CmuPollerMode = \" Start collection\";\n        break;\n    case 3:\n        msg.payload.CmuPollerMode = \"Collection running\";\n        break;\n    case 4:\n        msg.payload.CmuPollerMode = \"Start synchronisation\";\n        break;\n    case 5:\n        msg.payload.CmuPollerMode = \"Sync Running\";\n        break;\n    case 6:\n        msg.payload.CmuPollerMode = \"Start NetworkTest\";\n        break;\n    case 7:\n        msg.payload.CmuPollerMode = \"NetworkTest running\";\n        break;\n    case 8:\n        msg.payload.CmuPollerMode = \"Start BypassTest\";\n        break;\n    case 9:\n        msg.payload.CmuPollerMode = \"BypassTest running\";\n        break;\n    case 10:\n        msg.payload.CmuPollerMode = \"Start Reboot All\";\n        break;\n    case 11:\n        msg.payload.CmuPollerMode = \" Reboot All devices\";\n        break;\n    case 12:\n        msg.payload.CmuPollerMode = \" Start Simulator\";\n        break;\n    case 13:\n        msg.payload.CmuPollerMode = \"Simulator running\";\n        break;\n    default:\n        msg.payload.CmuPollerMode = \"Buggered\";\n}\n\nswitch (msg.payload.ShuntStatus) {\n    case 0:\n        msg.payload.ShuntStatus = \"Timeout\";\n        break;\n    case 1:\n        msg.payload.ShuntStatus = \"Discharging\";\n        break;\n    case 2:\n        msg.payload.ShuntStatus = \"Idle\";\n        break;\n    case 4:\n        msg.payload.ShuntStatus = \"Charging\";\n        break;\n    default:\n        msg.payload.ShuntStatus = \"Buggered\";\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":100,"wires":[["c2d309a5c47623ce","d07b59c58177b8e8"]]},{"id":"ddda1fee96e1b97c","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"MinCellVolt","entityConfig":"d9c7c040.1640e","version":0,"state":"payload.MinCellVolt","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1290,"y":620,"wires":[["f6a4112db32f6179"]]},{"id":"e59c1c6c3669384d","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"MaxCellVolt","entityConfig":"acf56eea.b851a","version":0,"state":"payload.MaxCellVolt","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1290,"y":680,"wires":[["ba64084be7eb1317"]]},{"id":"9e989fd659404a2f","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC1Voltage","entityConfig":"13f7d1af.f517de","version":0,"state":"payload[0].data[0][0]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":180,"y":380,"wires":[[]]},{"id":"4e14b0e5e4290534","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC2Voltage","entityConfig":"2dffa241.7abdbe","version":0,"state":"payload[0].data[0][1]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":180,"y":440,"wires":[[]]},{"id":"a05bae8449910641","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC3Voltage","entityConfig":"48008a3.7f57374","version":0,"state":"payload[0].data[0][2]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":180,"y":500,"wires":[[]]},{"id":"7b4d844eb253f492","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC4Voltage","entityConfig":"a1b9a949.4e03b8","version":0,"state":"payload[0].data[0][3]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":180,"y":560,"wires":[[]]},{"id":"c593c7248491d482","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC5Voltage","entityConfig":"7aa0be0e.a7c47","version":0,"state":"payload[0].data[0][4]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":180,"y":620,"wires":[[]]},{"id":"565ab93cf4736e00","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC6Voltage","entityConfig":"ec43f9a6.f873b8","version":0,"state":"payload[0].data[0][5]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":180,"y":680,"wires":[[]]},{"id":"e8fde2c8a8eab75f","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC7Voltage","entityConfig":"96866201.34576","version":0,"state":"payload[0].data[0][6]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":180,"y":740,"wires":[[]]},{"id":"3310e5d1e604cebf","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC8Voltage","entityConfig":"9baac434.39e628","version":0,"state":"payload[0].data[0][7]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":440,"y":380,"wires":[[]]},{"id":"b1c93f6801f104e1","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC9Voltage","entityConfig":"59af4d8b.3cd7e4","version":0,"state":"payload[0].data[0][8]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":440,"y":440,"wires":[[]]},{"id":"28391f176a0dbf39","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC10Voltage","entityConfig":"d9d27247.df535","version":0,"state":"payload[0].data[0][9]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":440,"y":500,"wires":[[]]},{"id":"d37457cdbf81907c","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC11Voltage","entityConfig":"3129a8dc.986d58","version":0,"state":"payload[0].data[0][10]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":440,"y":560,"wires":[[]]},{"id":"3db2cbce94691068","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC12Voltage","entityConfig":"1c08382f.744fc8","version":0,"state":"payload[0].data[0][11]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":440,"y":620,"wires":[[]]},{"id":"b0da56739cfaaffd","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC13Voltage","entityConfig":"79bcaf54.88925","version":0,"state":"payload[0].data[0][12]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":440,"y":680,"wires":[[]]},{"id":"4a0aab7e01473573","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"BatriumC14Voltage","entityConfig":"25f3a2d4.8991be","version":0,"state":"payload[0].data[0][13]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":440,"y":740,"wires":[[]]},{"id":"94ae8d8c53e7c6a8","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC15Voltage","entityConfig":"81d5cd15.bf29e","version":0,"state":"payload[0].data[0][14]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":380,"wires":[[]]},{"id":"7d76c9ab40a451b4","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"Batrium System status","entityConfig":"decd496dad3f853c","version":0,"state":"payload.ShuntStatus","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1320,"y":380,"wires":[[]]},{"id":"22f05bf4f6d29c01","type":"udp in","z":"5ee9552c56d6e50d","name":"","iface":"","port":"18542","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":120,"y":100,"wires":[["1e34219f.a153fe"]]},{"id":"0822e0bb64d5a4c3","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC16Voltage","entityConfig":"ec26e556c7ecab50","version":0,"state":"payload[0].data[0][15]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":440,"wires":[[]]},{"id":"e6345461cad52c73","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC17Voltage","entityConfig":"2783a495a81e2dc7","version":0,"state":"payload[0].data[0][16]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":500,"wires":[[]]},{"id":"7b25ce4744e4b47d","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC18Voltage","entityConfig":"272c1c81180f65f7","version":0,"state":"payload[0].data[0][17]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":560,"wires":[[]]},{"id":"1ea819cbbab3538b","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC19Voltage","entityConfig":"92fa172e2a6fb94b","version":0,"state":"payload[0].data[0][18]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":620,"wires":[[]]},{"id":"56328ee29ae51ba3","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC20Voltage","entityConfig":"5d81ce438b1e2bf8","version":0,"state":"payload[0].data[0][19]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":680,"wires":[[]]},{"id":"dd530625204853d9","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC21Voltage","entityConfig":"79cab83696551c08","version":0,"state":"payload[0].data[0][20]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":740,"wires":[[]]},{"id":"58159fe7ab15e3f7","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC22Voltage","entityConfig":"c54520fcdff8f2cf","version":0,"state":"payload[0].data[0][21]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":380,"wires":[[]]},{"id":"7540e477053ab0f3","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC23Voltage","entityConfig":"ce8e15a5613f27ca","version":0,"state":"payload[0].data[0][22]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":440,"wires":[[]]},{"id":"3a9055fcadde7234","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC24Voltage","entityConfig":"cb4c50af27bea00c","version":0,"state":"payload[0].data[0][23]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":500,"wires":[[]]},{"id":"fb96aff68bee2f6f","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC25Voltage","entityConfig":"3a68c60b94083f4e","version":0,"state":"payload[0].data[0][24]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":560,"wires":[[]]},{"id":"2fdd2836c3766a42","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC26Voltage","entityConfig":"5602bfafca071268","version":0,"state":"payload[0].data[0][25]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":620,"wires":[[]]},{"id":"0d8ceee7e407eb97","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC27Voltage","entityConfig":"32b9f699ae880182","version":0,"state":"payload[0].data[0][26]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":680,"wires":[[]]},{"id":"db6ef2f10eb9b48c","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"BatriumC28Voltage","entityConfig":"e483f1419de4bb2e","version":0,"state":"payload[0].data[0][27]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":740,"wires":[[]]},{"id":"6d65487c2f9f6153","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"ShuntSOC","entityConfig":"e33f40c56064d8ab","version":0,"state":"payload.ShuntSOC","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1290,"y":500,"wires":[[]]},{"id":"b83bdd39a70efffd","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"ShuntCurrent","entityConfig":"a8131d6a3f8ba572","version":0,"state":"payload.ShuntCurrent","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1470,"y":440,"wires":[[]]},{"id":"ac28babe03d3f879","type":"ha-sensor","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"ShuntVoltage","entityConfig":"6bb0debc7c057ec3","version":0,"state":"payload.ShuntVoltage","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1290,"y":560,"wires":[[]]},{"id":"ab432e93e973796c","type":"function","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"Limit decimals","func":"msg.payload.ShuntCurrent = Math.round(msg.payload.ShuntCurrent * 1000.0) / 1000.0;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":440,"wires":[["b83bdd39a70efffd"]]},{"id":"31741ffc.9e618","type":"function","z":"5ee9552c56d6e50d","name":"Put cell voltage into globals","func":"var myLongmon;\n\nswitch(msg.payload.ID) {\n    case 1:\n        myLongmon=\"ONE\";\n        break;\n    case 2:\n        myLongmon=\"TWO\";\n        break;\n    case 3:\n        myLongmon=\"THREE\";\n        break;\n    case 4:\n        myLongmon=\"FOUR\";\n        break;\n    case 5:\n        myLongmon=\"FIVE\";\n        break;\n    case 6:\n        myLongmon=\"SIX\";\n        break;\n    case 7:\n        myLongmon=\"SEVEN\";\n        break;\n    case 8:\n        myLongmon=\"EIGHT\";\n        break;\n    case 9:\n        myLongmon=\"NINE\";\n        break;\n    case 10:\n        myLongmon=\"TEN\";\n        break;\n    case 11:\n        myLongmon=\"ELEVEN\";\n        break;\n    case 12:\n        myLongmon=\"TWELVE\";\n        break;\n    case 13:\n        myLongmon=\"THIRTEEN\";\n        break;\n    case 14:\n        myLongmon=\"FOURTEEN\";\n        break;\n    case 15:\n        myLongmon = \"FIFTEEN\";\n        break;\n    case 16:\n        myLongmon = \"SIXTEEN\";\n        break;\n    case 17:\n        myLongmon = \"SEVENTEEN\";\n        break;\n    case 18:\n        myLongmon = \"EIGHTEEN\";\n        break;\n    case 19:\n        myLongmon = \"NINETEEN\";\n        break;\n    case 20:\n        myLongmon = \"TWENTY\";\n        break;\n    case 21:\n        myLongmon = \"TWENTYONE\";\n        break;\n    case 22:\n        myLongmon = \"TWENTYTWO\";\n        break;\n    case 23:\n        myLongmon = \"TWENTYTHREE\";\n        break;\n    case 24:\n        myLongmon = \"TWENTYFOUR\";\n        break;\n    case 25:\n        myLongmon = \"TWENTYFIVE\";\n        break;\n    case 26:\n        myLongmon = \"TWENTYSIX\";\n        break;\n    case 27:\n        myLongmon = \"TWENTYSEVEN\";\n        break;\n    case 28:\n        myLongmon = \"TWENTYEIGHT\";\n        break;\n\n\n}\n \nglobal.set(myLongmon,msg.payload.MaxCellVolt);    \n     \n//return msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":140,"wires":[[]]},{"id":"a91c56327d91dd6e","type":"link out","z":"5ee9552c56d6e50d","name":"VoltagesOut","mode":"link","links":["27e970304a168007","2e5f0642981114b2","3772537b8a864f97","41326a5592972b78","438334e4c48c9e03","4a5bda65d8c22c1b","4b50b4605515eaa1","4e0af06cb1103721","5b59e6140bab2e46","5f49a9a50fb4b63e","62d1756d08d2b186","6490e612977dec46","6603d5603393db5a","69c158817f9fbba4","7219586de8c4e740","a00c8cc18173823f","a21cd736bb8fe7cd","a49eb53813242aa0","a7e3fe535bd2642f","b11b81d6efa7130a","c8b7767c65e64367","c92f23619d343ef1","d406e78d4ef5a2f4","d7069db13033f377","df805c37db17b99a","e05f57f2a691032b","e4d4a69faac4aa90","f656aa0dd0cb445a"],"x":875,"y":260,"wires":[]},{"id":"438334e4c48c9e03","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 1","links":["a91c56327d91dd6e"],"x":55,"y":380,"wires":[["9e989fd659404a2f"]]},{"id":"a7e3fe535bd2642f","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 2","links":["a91c56327d91dd6e"],"x":55,"y":440,"wires":[["4e14b0e5e4290534"]]},{"id":"6603d5603393db5a","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 3","links":["a91c56327d91dd6e"],"x":55,"y":500,"wires":[["a05bae8449910641"]]},{"id":"5f49a9a50fb4b63e","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 4","links":["a91c56327d91dd6e"],"x":55,"y":560,"wires":[["7b4d844eb253f492"]]},{"id":"4b50b4605515eaa1","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 5","links":["a91c56327d91dd6e"],"x":55,"y":620,"wires":[["c593c7248491d482"]]},{"id":"df805c37db17b99a","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 6","links":["a91c56327d91dd6e"],"x":55,"y":680,"wires":[["565ab93cf4736e00"]]},{"id":"f656aa0dd0cb445a","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 7","links":["a91c56327d91dd6e"],"x":55,"y":740,"wires":[["e8fde2c8a8eab75f"]]},{"id":"2e5f0642981114b2","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 8","links":["a91c56327d91dd6e"],"x":315,"y":380,"wires":[["3310e5d1e604cebf"]]},{"id":"6490e612977dec46","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 9","links":["a91c56327d91dd6e"],"x":315,"y":440,"wires":[["b1c93f6801f104e1"]]},{"id":"e05f57f2a691032b","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 10","links":["a91c56327d91dd6e"],"x":315,"y":500,"wires":[["28391f176a0dbf39"]]},{"id":"62d1756d08d2b186","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 11","links":["a91c56327d91dd6e"],"x":315,"y":560,"wires":[["d37457cdbf81907c"]]},{"id":"41326a5592972b78","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 12","links":["a91c56327d91dd6e"],"x":315,"y":620,"wires":[["3db2cbce94691068"]]},{"id":"a49eb53813242aa0","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 13","links":["a91c56327d91dd6e"],"x":315,"y":680,"wires":[["b0da56739cfaaffd"]]},{"id":"69c158817f9fbba4","type":"link in","z":"5ee9552c56d6e50d","g":"ef991e1f83058aec","name":"link in 14","links":["a91c56327d91dd6e"],"x":315,"y":740,"wires":[["4a0aab7e01473573"]]},{"id":"b11b81d6efa7130a","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 15","links":["a91c56327d91dd6e"],"x":625,"y":380,"wires":[["94ae8d8c53e7c6a8"]]},{"id":"e4d4a69faac4aa90","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 16","links":["a91c56327d91dd6e"],"x":625,"y":440,"wires":[["0822e0bb64d5a4c3"]]},{"id":"27e970304a168007","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 17","links":["a91c56327d91dd6e"],"x":625,"y":500,"wires":[["e6345461cad52c73"]]},{"id":"a21cd736bb8fe7cd","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 18","links":["a91c56327d91dd6e"],"x":625,"y":560,"wires":[["7b25ce4744e4b47d"]]},{"id":"d7069db13033f377","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 19","links":["a91c56327d91dd6e"],"x":625,"y":620,"wires":[["1ea819cbbab3538b"]]},{"id":"c8b7767c65e64367","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 20","links":["a91c56327d91dd6e"],"x":625,"y":680,"wires":[["56328ee29ae51ba3"]]},{"id":"4a5bda65d8c22c1b","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 21","links":["a91c56327d91dd6e"],"x":625,"y":740,"wires":[["dd530625204853d9"]]},{"id":"3772537b8a864f97","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 22","links":["a91c56327d91dd6e"],"x":885,"y":380,"wires":[["58159fe7ab15e3f7"]]},{"id":"7219586de8c4e740","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 23","links":["a91c56327d91dd6e"],"x":885,"y":440,"wires":[["7540e477053ab0f3"]]},{"id":"a00c8cc18173823f","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 24","links":["a91c56327d91dd6e"],"x":885,"y":500,"wires":[["3a9055fcadde7234"]]},{"id":"5b59e6140bab2e46","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 25","links":["a91c56327d91dd6e"],"x":885,"y":560,"wires":[["fb96aff68bee2f6f"]]},{"id":"d406e78d4ef5a2f4","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 26","links":["a91c56327d91dd6e"],"x":885,"y":620,"wires":[["2fdd2836c3766a42"]]},{"id":"4e0af06cb1103721","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 27","links":["a91c56327d91dd6e"],"x":885,"y":680,"wires":[["0d8ceee7e407eb97"]]},{"id":"c92f23619d343ef1","type":"link in","z":"5ee9552c56d6e50d","g":"c632025d5862d6f7","name":"link in 28","links":["a91c56327d91dd6e"],"x":885,"y":740,"wires":[["db6ef2f10eb9b48c"]]},{"id":"d07b59c58177b8e8","type":"link out","z":"5ee9552c56d6e50d","name":"Status","mode":"link","links":["34e0def2b0c8e1a3","c3106b2695783a37","abeea0d1b7894c2f","34262d97a5eb3866","1c9ac322d9df2c98","2a343da4a5c400f4"],"x":935,"y":100,"wires":[]},{"id":"34e0def2b0c8e1a3","type":"link in","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"Sta","links":["d07b59c58177b8e8"],"x":1185,"y":380,"wires":[["7d76c9ab40a451b4"]]},{"id":"c3106b2695783a37","type":"link in","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"Sta","links":["d07b59c58177b8e8"],"x":1185,"y":440,"wires":[["ab432e93e973796c"]]},{"id":"abeea0d1b7894c2f","type":"link in","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"Sta","links":["d07b59c58177b8e8"],"x":1185,"y":500,"wires":[["6d65487c2f9f6153"]]},{"id":"34262d97a5eb3866","type":"link in","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"Sta","links":["d07b59c58177b8e8"],"x":1185,"y":560,"wires":[["ac28babe03d3f879"]]},{"id":"1c9ac322d9df2c98","type":"link in","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"Sta","links":["d07b59c58177b8e8"],"x":1185,"y":620,"wires":[["ddda1fee96e1b97c"]]},{"id":"2a343da4a5c400f4","type":"link in","z":"5ee9552c56d6e50d","g":"6290555329704b98","name":"Sta","links":["d07b59c58177b8e8"],"x":1185,"y":680,"wires":[["e59c1c6c3669384d"]]},{"id":"d9c7c040.1640e","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for MinCellVolt","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Min Cell Volt"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"acf56eea.b851a","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for MaxCellVolt","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Max Cell Volt"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"13f7d1af.f517de","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC1Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 1 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"2dffa241.7abdbe","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC2Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 2 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"48008a3.7f57374","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC3Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 3 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"a1b9a949.4e03b8","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC4Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 4 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"7aa0be0e.a7c47","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC5Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 5 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"ec43f9a6.f873b8","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC6Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 6 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"96866201.34576","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC7Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 7 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"9baac434.39e628","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC8Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 8 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"59af4d8b.3cd7e4","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC9Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 9 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"d9d27247.df535","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC10Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 10 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"3129a8dc.986d58","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC11Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 11 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"1c08382f.744fc8","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC12Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 12 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"79bcaf54.88925","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC13Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 13 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"25f3a2d4.8991be","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC14Voltage","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 14 Voltage"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"81d5cd15.bf29e","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC15Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 23Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"decd496dad3f853c","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for Batrium System status","version":6,"entityType":"sensor","haConfig":[{"property":"name","value":"Batrium System Status"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"ec26e556c7ecab50","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC16Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 16 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"2783a495a81e2dc7","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC17Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 17 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"272c1c81180f65f7","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"Batrium Cell 18 Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 18 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"92fa172e2a6fb94b","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC19Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 19 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"5d81ce438b1e2bf8","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC20Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 20 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"79cab83696551c08","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"Batrium Cell 21 Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 21 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"c54520fcdff8f2cf","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"Batrium Cell 22Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 22 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"ce8e15a5613f27ca","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC23Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 23 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"cb4c50af27bea00c","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC24Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 24 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"3a68c60b94083f4e","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC25Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 25 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"5602bfafca071268","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC26Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 26 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"32b9f699ae880182","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC27Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 27 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"e483f1419de4bb2e","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"sensor config for BatriumC28Voltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Cell 28 Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"e33f40c56064d8ab","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"BatriumShuntSOC","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium SOC"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"a8131d6a3f8ba572","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"BatriumShuntCurrent","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Shunt Current"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"A"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"6bb0debc7c057ec3","type":"ha-entity-config","server":"6efe0112.d1b06","deviceConfig":"","name":"Batrium ShuntVoltage","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Batrium Shunt Voltage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"V"},{"property":"state_class","value":""}],"resend":true,"debugEnabled":false},{"id":"6efe0112.d1b06","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]